{% extends "layout.njk" %}

{% block head %}
    <title>About - RocketSeat Junior</title>
{% endblock %}

{% block content %}
<main>
    <img id="img-profile" src="https://pbs.twimg.com/profile_images/953595371875422210/0pWsfSSp_400x400.jpg" alt="Logo RocketSeat">
    <h1>RocketSeat</h1>
    <h2>The best technologies in programming, straight to the point and in the right way.</h2>
    <p>In the midst of so much information and the amount of tools that come up every day, you need someone to take you in the right direction.</p>
    <div class="div-techs">
        <ul class="techs">
            Main technologies used :
            <li>Javascript</li>
            <li>NodeJS</li>
            <li>ReactJS</li>
            <li>React Native</li>
        </ul>
    </div>
    <div class="social-media">
        <a href="https://pt-br.facebook.com/rocketseat/" target="_blank">Facebook</a>
        <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank">Instagram</a>
        <a href="https://github.com/Rocketseat" target="_blank">GitHub</a>
    </div>
</main>
{%endblock%}