<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://i.pinimg.com/originals/76/4f/53/764f53bf8afef40466c19763a2ba844a.png" type="image/x-icon" />
    <title>RocketSeat Junior</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="main-header">
        <h1 class="main-title">RocketSeat <span>Junior</span></h1>
        <div class="links">
            <a href="/courses">Courses</a>
            <a href="/about">About</a>
            <a href="https://discordapp.com/invite/gCRAFhc" target="_blanck">Discord</a>
            <a href="mailto:oi@rocketseat.com.br" target="_blanck">Email</a>
            <a href="tel:+5547992078767">Phone Number</a>
        </div>
    </header>
</body>
</html>