{% extends "layout.njk" %}

{% block head %}
    <title>About - RocketSeat Junior</title>
{% endblock %}

{% block content %}

<main class="err">
    <h1>Err:404 - Page Not Found</h1>
    <img src="https://www.pinclipart.com/picdir/big/90-907332_json-at-master-github-octocat-clipart.png" alt="">
    <h3> <span>COURSE ID</span> is invalid</h3>
</main>

{%endblock%}