@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

:root {
    --green-light: #adff2f;
    --green-off : #adff2f33;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;
    font-family: 'Roboto', sans-serif ;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    color: white;
    margin: 0 auto;
}

header {
    background-color: slateblue;
    border-bottom: 2px solid var(--green-off);
    text-align: center;
    height: 100%;
    color: white;
    height: 100%;
}

header.main-header {
    display: grid;
    height: 800px;
    align-items: center;

}

header h1 {
    font-weight: bold;
    padding: 32px;
}

.main-title {
    margin-top: 100px;
    font-size: 80px;
}

.main-title span,
.second-title span {
    font-family: 'Trade Winds', sans-serif ;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 15px;
}

header a {
    text-decoration: none;
    padding: 10 30px 0 0;
    color: white;
}

main {
    text-align: center;
    margin: 0 auto;
    height: 100%;
    max-width: 1000px;
}

body #img-profile {
    margin-top: 30px;
    border: 2px solid var(--green-off);
    border-radius: 50%;
    height: 300px;
}



body h1 {
    margin-top: 30px;
    font-family: 'Trade Winds', sans-serif ;
    margin-bottom: 20px;
}



body h2,
body p {
    padding: 10px;
    font-size: 18px;
    line-height: 28px;
}

.div-techs {
    background-color: #6a5acd55;
    border: 1px solid #6a5acd55 ;
    max-width: 300px;
    padding: 10px;
    margin: 0 auto;
    font-weight: bold;
    border-radius: 20px;
}

.div-techs:hover {
    border: 2px solid #6a5acd ;
    transition: 500ms;
}

.techs {
    max-width: 200px;
    margin: 0 auto;
}

.techs li{
    text-decoration: none;
    margin: 5px;
}


.social-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.social-media a {
    color: white;
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--green-off);
    border-radius: 20px;
    text-decoration: none;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
}

.card {
    padding: 20px;
    background: #4e5269;
    border-radius: 20px;
    border: 2px solid transparent;
    cursor: pointer;
}

.card img {
    max-height: 25%;
    max-width: 75%;
}

/*===MODAL===*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/*===MODAL.ACTIVE===*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
} 

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;

}

.err img {
    height: 300px;
}

.course {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 800px;
    
}

h3 {
    font-size: 28px;
    margin-top: 50px;
    color: var(--green-light);
}

h3 span {
    color: purple;
}

/********************HOVER*************************/

body #img-profile:hover,
.social-media a:hover,
.card:hover {
    border: 2px solid var(--green-light); 
    transition: 500ms;
}

header:hover {
    border-bottom:2px solid var(--green-light); ;
    transition: 500ms;
}

.social-media a:hover {
    color: #7366ca;
}

.main-title:hover,
header a:hover,
body h1:hover,
.techs li:hover {
    color: var(--green-light);
    transition: 500ms;
}

/**************************************************/